.graph {
    position: relative;
}

.graph > * {
    position: absolute;
    z-index: 2;
}

.graph > svg {
    z-index: 1;
    top: 0;
    left: 0;
}

.graph > svg > rect {
    stroke: #ffa500;
    fill: rgba(255, 165, 0, 0.2);
}
